@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="p-4 sm:p-7">
        <div class="text-center">
            <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Forgot your password?</h1>
        </div>

        <div class="mt-5">
            <!-- Form -->
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="@Classes.ValidationSummary" role="alert"></div>

                <div class="grid gap-y-4">
                    <!-- Form Group -->
                    <div>
                        <div class="flex justify-between items-center">
                            <label asp-for="Input.Email"
                                   class="@Classes.TextInputLabel">Email address</label>
                        </div>
                        <div class="relative">
                            <input asp-for="Input.Email" type="email"
                                   autocomplete="username" aria-required="true" placeholder="name@example.com"
                                   class="@Classes.TextInputField"
                                   required>

                        </div>
                        <span asp-validation-for="Input.Email" class="@Classes.ErrorMessage"></span>
                        <div asp-validation-summary="ModelOnly" class="@Classes.ErrorMessage" role="alert"></div>


                    </div>
                    <!-- End Form Group -->
                    <!-- Altcha -->
                    <div>
                        <div class="flex justify-between items-center">
                            <label asp-for="Altcha"
                                   class="@Classes.TextInputLabel">@Html.DisplayNameFor(m => m.Altcha)</label>
                        </div>
                        <div class="relative">
                            <altcha-widget challengejson="@Altcha.CreateChallengeJson()" hidelogo="true" hidefooter="true"></altcha-widget>
                            <span asp-validation-for="Altcha" class="@Classes.ErrorMessage"></span>
                        </div>
                    </div>
                    <!-- End Altcha -->

                    <button type="submit" class="@Classes.LargePrimaryButtonFullWidth">Reset Password</button>
                </div>
            </form>
            <!-- End Form -->
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script async defer src="https://cdn.jsdelivr.net/gh/altcha-org/altcha@main/dist/altcha.min.js" type="module"></script>
}
