@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var classes = "whitespace-nowrap font-medium text-gray-600 py-2 px-2 sm:px-0 rounded-lg sm:rounded-none sm:py-0 dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 border-2 sm:border-0 sm:border-b-2 border-gray-200  hover:border-gray-600 ";

}

<a class="@classes @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
<a class="@classes @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a>
<a class="@classes @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
@if (hasExternalLogins)
{
    <a id="external-login" class="@classes @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a>
}
<a class="@classes @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
<a class="@classes @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a>
