@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<form id="set-password-form" method="post" class="max-w-md">
  
    <partial name="_StatusMessage" for="StatusMessage" />

    <div asp-validation-summary="ModelOnly" class="@Classes.ValidationSummary" role="alert"></div>

    <div class="grid gap-y-4">
        <!-- Form Group -->
        <div>
            <div class="flex justify-between items-center">
                <label asp-for="Input.OldPassword"
                       class="@Classes.TextInputLabel">@Html.DisplayNameFor(m => m.Input.OldPassword)</label>
            </div>
            <div class="relative">
                <input asp-for="Input.OldPassword" type="password"
                       aria-required="true"
                       class="@Classes.TextInputField"
                       required />

            </div>
            <span asp-validation-for="Input.OldPassword" class="@Classes.ErrorMessage"></span>
        </div>
        <!-- End Form Group -->
       <!-- Form Group -->
        <div>
            <div class="flex justify-between items-center">
                <label asp-for="Input.NewPassword"
                       class="@Classes.TextInputLabel">@Html.DisplayNameFor(m => m.Input.NewPassword)</label>
            </div>
            <div class="relative">
                <input asp-for="Input.NewPassword" type="password"
                       autocomplete="new-password"
                       aria-required="true"
                       class="@Classes.TextInputField"
                       required />

            </div>
            <span asp-validation-for="Input.NewPassword" class="@Classes.ErrorMessage"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div>
            <div class="flex justify-between items-center">
                <label asp-for="Input.ConfirmPassword"
                       class="@Classes.TextInputLabel">@Html.DisplayNameFor(m => m.Input.ConfirmPassword)</label>
            </div>
            <div class="relative">
                <input asp-for="Input.ConfirmPassword" type="password"
                       autocomplete="new-password"
                       aria-required="true"
                       class="@Classes.TextInputField"
                       required />

            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="@Classes.ErrorMessage"></span>
        </div>
        <!-- End Form Group -->

        <div class="flex flex-row items-center">
            <button type="submit" class="@Classes.LargePrimaryButton">Change Password</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
