@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="max-w-md">

    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="@Classes.ValidationSummary" role="alert"></div>
        <div class="grid gap-y-6 ">
            @if (Model.RequirePassword)
            {
                <!-- Form Group -->
                <div>
                    <div class="flex justify-between items-center">
                        <label asp-for="Input.Password"
                               class="@Classes.TextInputLabel">@Html.DisplayNameFor(m => m.Input.Password)</label>
                    </div>
                    <div class="relative">
                        <input asp-for="Input.Password" type="password"
                               aria-required="true"
                               class="@Classes.TextInputField"
                               required />

                    </div>
                    <span asp-validation-for="Input.Password" class="@Classes.ErrorMessage"></span>
                </div>
                <!-- End Form Group -->
            }
            <div>
            <button class="@Classes.LargeDangerButton" type="submit">Delete data and close my account</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
