@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}


<form id="email-form" method="post" class="max-w-md">
    <partial name="_StatusMessage" for="StatusMessage" />

    <div asp-validation-summary="ModelOnly" class="@Classes.ValidationSummary" role="alert"></div>

    <div class="grid gap-y-4">
        @if (Model.IsEmailConfirmed)
        {
            <div>
                <div class="flex justify-between items-center">
                    <label asp-for="Email"
                           class="@Classes.TextInputLabel">
                        @Html.DisplayNameFor(m => m.Email)


                    </label>
                </div>
                <div class="relative">
                    <input asp-for="Email" type="text"
                           class="@Classes.TextInputField"
                           disabled>

                </div>

                <div class="text-sm mt-3">
                    <span class="text-green-600 font-bold"> ✓ Email address confirmed</span>
                </div>
            </div>

        }
        else
        {
            <!-- Form Group -->
            <div>
                <div class="flex justify-between items-center">
                    <label asp-for="Email"
                           class="@Classes.TextInputLabel">@Html.DisplayNameFor(m => m.Email)</label>
                </div>
                <div class="relative">
                    <input asp-for="Email" type="text"
                           class="@Classes.TextInputField"
                           disabled>

                </div>
                <span asp-validation-for="Email" class="@Classes.ErrorMessage"></span>
            </div>
            <!-- End Form Group -->

            <div class="flex flex-row items-center">
                <button type="submit" class="@Classes.LargePrimaryButton" asp-page-handler="SendVerificationEmail">Send verification email</button>
            </div>
        }


        <!-- Form Group -->
        <div class="mt-12">
            <div class="flex justify-between items-center">
                <label asp-for="Input.NewEmail"
                       class="@Classes.TextInputLabel">@Html.DisplayNameFor(m => m.Input.NewEmail)</label>
            </div>
            <div class="relative">
                <input asp-for="Input.NewEmail" type="text"
                       aria-required="true"
                       class="@Classes.TextInputField"
                       required>

            </div>
            <span asp-validation-for="Input.NewEmail" class="@Classes.ErrorMessage"></span>
        </div>
        <!-- End Form Group -->

        <div class="flex flex-row items-center">
            <button type="submit" class="@Classes.LargePrimaryButton" asp-page-handler="ChangeEmail">Change Email</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
