@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<form id="profile-form" method="post" class="max-w-md">
    <partial name="_StatusMessage" for="StatusMessage" />

    <div asp-validation-summary="ModelOnly" class="@Classes.ValidationSummary" role="alert"></div>

    <div class="grid gap-y-4 prose dark:prose-invert">
        <div>
            <h3>Step 1. Download an Authenticator App</h3>
            <p>
                Download a two-factor authenticator app like Microsoft Authenticator for
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072" class="underline">Android</a> and
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073" class="underline">iOS</a> or
                Google Authenticator for
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en" class="underline">Android</a> and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" class="underline">iOS</a>.
            </p>
        </div>
        <div class="grid gap-y-2">
            <h3>Step 2. Create new entry</h3>
            <p class="prose dark:prose-invert">Scan the QR Code or enter this key into your two factor authenticator app. Spaces and casing do not matter.</p>
            <input type="text"
                   class="@Classes.TextInputField"
                   value="@Model.SharedKey" />
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </div>
        <div>
            <h3>Step 3. Generate first code</h3>

            <p class="prose dark:prose-invert">
                Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
                with a unique code. Enter the code in the confirmation box below.
            </p>
        </div>
        <!-- Form Group -->
        <div>
            <div class="flex justify-between items-center">
                <label asp-for="Input.Code"
                       class="@Classes.TextInputLabel">@Html.DisplayNameFor(m => m.Input.Code)</label>
            </div>
            <div class="relative">
                <input asp-for="Input.Code" type="text"
                       aria-required="true"
                       class="@Classes.TextInputField"
                       required>

            </div>
            <span asp-validation-for="Input.Code" class="@Classes.ErrorMessage"></span>
        </div>
        <!-- End Form Group -->

        <div class="flex flex-row items-center">
            <button type="submit" class="@Classes.LargePrimaryButton">Save</button>
        </div>
    </div>
</form>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.js"
            integrity="sha512-is1ls2rgwpFZyixqKFEExPHVUUL+pPkBEPw47s/6NDQ4n1m6T/ySeDW3p54jp45z2EJ0RSOgilqee1WhtelXfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        window.addEventListener("load", () => {
            const uri = document.getElementById("qrCodeData").getAttribute('data-url');
            new QRCode(document.getElementById("qrCode"),
                {
                    text: uri,
                    width: 150,
                    height: 150
                });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
