@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<form id="set-password-form" method="post" class="max-w-md">
    <div class="pb-3">
        <div class="bg-sky-50 border-t-2 border-sky-500 rounded-lg p-4 dark:bg-sky-800/30 " role="alert">
            <div class="flex">

                <div class="ms-3">
                    <h3 class="text-gray-800 font-semibold dark:text-white">
                        Choose a password
                    </h3>
                    <p class="text-sm text-gray-700 dark:text-gray-400">
                        You do not have a local username/password for this site. Add a local account so you can log in without an external login.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <partial name="_StatusMessage" for="StatusMessage" />

    <div asp-validation-summary="ModelOnly" class="@Classes.ValidationSummary" role="alert"></div>

    <div class="grid gap-y-4">
        <!-- Form Group -->
        <div>
            <div class="flex justify-between items-center">
                <label asp-for="Input.NewPassword"
                       class="@Classes.TextInputLabel">@Html.DisplayNameFor(m => m.Input.NewPassword)</label>
            </div>
            <div class="relative">
                <input asp-for="Input.NewPassword" type="password"
                       autocomplete="new-password"
                       aria-required="true" 
                       class="@Classes.TextInputField"
                       required />

            </div>
            <span asp-validation-for="Input.NewPassword" class="@Classes.ErrorMessage"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div>
            <div class="flex justify-between items-center">
                <label asp-for="Input.ConfirmPassword"
                       class="@Classes.TextInputLabel">@Html.DisplayNameFor(m => m.Input.ConfirmPassword)</label>
            </div>
            <div class="relative">
                <input asp-for="Input.ConfirmPassword" type="password"
                       autocomplete="new-password"
                       aria-required="true" 
                       class="@Classes.TextInputField"
                       required />

            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="@Classes.ErrorMessage"></span>
        </div>
        <!-- End Form Group -->

        <div class="flex flex-row items-center">
            <button type="submit" class="@Classes.LargePrimaryButton">Set Password</button>
        </div>
    </div>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
