@{
    Layout = "./_LayoutBase.cshtml";

    var navItemClasses = "block px-6 py-2 font-medium text-base text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-50 dark:hover:bg-gray-800";
}
<div class="m-0 p-0 min-h-screen " x-data="{ sidebarOpen: false }">
    <nav class="fixed top-0 left-0 z-20 h-full overflow-x-hidden overflow-y-auto transition origin-left transform md:translate-x-0 w-64 py-10 border-r shadow-lg dark:border-gray-700 bg-white text-gray-900 dark:bg-gray-950 dark:text-white "
         :class="{ '-translate-x-full' : !sidebarOpen, 'translate-x-0' : sidebarOpen }"
         @@click.away="sidebarOpen = false">
        <div class="px-6 pb-6">
            <a asp-area="null" asp-page="Index"
               class="flex-none text-xl font-semibold" aria-label="Project">MinimalIdentityUI</a>
        </div>
        <nav class="w-full flex flex-col flex-wrap" aria-label="Main Navigation">
            <ul class="space-y-1.5">

                <li>
                    <a class="@navItemClasses"
                       asp-area="" asp-page="/Index">
                        <span>Home</span>
                    </a>
                </li>

                <li>

                    <a class="@navItemClasses"
                       asp-area="" asp-page="/Privacy">
                        <span>Privacy</span>
                    </a>
                </li>

                <partial name="_LoginPartial" />

        </nav>
    </nav>


    <div class="ml-0 transition md:ml-60 flex flex-col min-h-screen ">
        @{
            var contentPadding = "px-8 sm:px-6 md:px-16";
        }
        <!-- Content -->
        <!-- Page Heading -->
        <header class="w-full py-10 @contentPadding flex flex-col gap-x-6 gap-y-3 flex-wrap justify-start  lg:flex-row lg:justify-between lg:items-center">
            <div class="flex flex-row items-center justify-between">
                <div class="">
                    <p class="mb-2 text-sm font-semibold text-sky-600">@ViewData["Section"]</p>
                    <h1 class="block text-xl font-bold text-gray-800 sm:text-3xl dark:text-white">@ViewData["Title"]</h1>
                    <p class="mt-2 text-lg text-gray-800 dark:text-gray-400">@ViewData["Description"]</p>
                </div>
                <div>
                    <button class=" md:hidden"
                            @@click.stop="sidebarOpen = true">
                        <span class="sr-only">Menu</span>
                        <svg class="w-6 h-6"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                  clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="flex flex-1 gap-5 mt-5 flex-col sm:flex-row sm:items-center justify-start lg:justify-end lg:mt-0 ">
                @await RenderSectionAsync("TopNav", required: false)
            </div>

        </header>
        <!-- End Page Heading -->

        <div class="@contentPadding flex-1">
            @RenderBody()
        </div>

        <div class="py-10 @contentPadding">
            <partial name="_FooterPartial" />
        </div>

        <!-- End Content -->

    </div>
    <div class="fixed inset-0 z-10 w-screen h-screen bg-black bg-opacity-25 md:hidden"
         x-show.transition="sidebarOpen"
         x-cloak></div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
